<mat-sidenav-container class="example-container">
  <!-- *ngIf="shouldRun"> -->
  <mat-sidenav mode="side" opened>
    <mat-action-list role="list">
      <button mat-list-item role="listitem" (click)="table()" [routerLink]="['/grids']">Table</button>
      <button mat-list-item role="listitem" (click)="chart()" [routerLink]="['/charts']">Charts</button>
      <button mat-list-item role="listitem" (click)="chart()" [routerLink]="['/form']">Form</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
